@model IEnumerable<ResultUserCommentDto>
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (Model is not null)
            {
                <div class="chart-box">
                    <p>@ViewBag.productName ürününe ait yorumlar ile ilgili işlemlerinizi aşağıdaki tablodan gerçekleştirebilirsiniz.</p>
                    <hr />
                    <div class="bs-example" data-example-id="simple-responsive-table">
                        <div class="table-responsive m-top-2">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Adı Soyadı</th>
                                        <th>Email Adresi</th>
                                        <th>Tarihi</th>
                                        <th>Durumu</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td>@item.Email</td>
                                            <td>@item.CreatedDate.ToString("dd MMM yy", System.Globalization.CultureInfo.GetCultureInfo("Tr-tr"))</td>
                                            <td>@(item.IsActive ? "Aktif":"Pasif")</td>
                                            <td><a href="/admin/usercomment/deleteusercomment/@item.Id" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/admin/usercomment/updateusercomment/@item.Id" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/admin/product/index/" class="btn btn-primary">Geri Dön</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="bg-danger text-white p-4 text-center table-responsive">@ViewBag.productName ürününe ait yorum bulunamadı. </p>
            }
        </div>
    </div>
</section>


