@model BasketTotalDto
@{
    decimal kargoUcreti = 0;
    int couponRate = ViewBag.CouponRate;
    if (Model.BasketItems.Any() && Model.TotalPrice < 500)
        kargoUcreti = 150;
}
<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sepet Özeti</span></h5>
<div class="bg-light p-30 mb-5">
    <div class="border-bottom pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Ürün Toplamı</h6>
            <h6>@Model.TotalPrice ₺</h6>
        </div>
        @if (couponRate != 0)
        {
            <div class="d-flex justify-content-between mb-3">
                <h6>Kupon Oranı</h6>
                <h6>@couponRate</h6>
            </div>
        }
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Kargo Ücreti</h6>
            <h6 class="font-weight-medium">@kargoUcreti</h6>
        </div>
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Toplam Ücret</h5>
            @if (couponRate != 0)
            {
                <h5>
                    <del>@(Model.TotalPrice + kargoUcreti) ₺</del> - @(Model.TotalPrice - (Model.TotalPrice / 100 * couponRate) + kargoUcreti) ₺
                </h5>
            }
            else
            {
                <h5>@(Model.TotalPrice + kargoUcreti) ₺</h5>
            }

        </div>
        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Ödeme Sayfasına Git</button>
    </div>
</div>